body {
  background-color: #123456;
  background: url("/assets/bgimage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
	width: 80%;
	margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}

#wrappersec {
	width: 80%;
	margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

#logo {
	text-align: center;
	height: 150px;
	margin-top: 5%;
}

.logo {
	margin-left: 45%;
	margin-right: 45%;
	text-align: center;	
	width: 10%;
}


#all-links {
	width: 100%;
	text-align: center;
     }

#footer {
	width: 30%;
	text-align: right;
	position: absolute;
	bottom: 5%;
	right: 5%;
     }

.img-link {
  height: 100px;
  width: 100px;
  display: inline-block;
 }

.link {
    color: #fff;
    font-family: "Source-Sans-Pro",sans-serif;
    font-size: 0.6em;
    text-decoration:none;
}

.link:hover {
	color: #a33;
}

.link-text {
    padding: 0px;
    position: relative;
}

.img-link {
    margin: 30px;
}

.footer-text {
	font-size: 1em;
	color: #fff;
	font-family: "Source-Sans-Pro",sans-serif;
	text-decoration: none;
}

#text-box {
	font-size: 1em;
	color: #fff;
	font-family: "Source-Sans-Pro",sans-serif;
	text-decoration: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	background-color: Rgba(255,255,255, 0.3);
	border-radius: 8px;
}
