body {
  background-color: #123456;
  background: url("/assets/bgimage.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#wrapper {
	width: 80%;
	margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
}

#logo {
	background: url("/assets/logo.png") no-repeat;
	background-size: auto 45px;
  height: 45px;
	margin-top: 20px;
  margin-left: 15%;
}

a {
       outline: 0;
}

#all-links {
	width: 100%;
	text-align: center;
     }

.img-link {
  height: 100px;
  width: 100px;
  display: inline-block;
 }

.link {
    color: #fff;
    font-family: "Source-Sans-Pro",sans-serif;
    font-size: 0.7em;
    text-decoration:none;
}

.link:hover {
	color: #a33;
}

.link-text {
    padding: 0px;
    position: relative;
}

.img-link {
    margin: 30px;
}

